<h4>Lista studentów</h4>

<table class="table table-striped table-hover">
    <!-- Nagłówek -->
    <thead>
        <tr>
            <th>Id</th>
            <th>Imię i nazwisko</th>
            <th>Adres e-mail</th>
            <th>Operacje</th>
        </tr>
    </thead>
    <!-- Wiersze z rekordami -->
    <tbody>
        <tr *ngFor="let student of students">
            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.email}}</td>
            <td>
                <button class="btn btn-outline-warning">Edytuj</button>
                <button class="btn btn-outline-danger margin-left-5">Usuń</button>
            </td>
        </tr>
    </tbody>
</table>

<div *ngFor="let student of students">
    <h5>{{student.name}}</h5>
    <p>{{student.email}}</p>
</div>